@import url("input.css");

.header{
  position: relative;
}
nav{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: 1px solid darkgray;
}

.nav_left span{
  padding: 15px 0;
  margin: 10px;
  border-bottom: 4px solid transparent
}

.nav_left{
  display: flex;
  align-items: center;
}

.nav_right ul{
  margin-left: auto;
  display: flex;
  align-content: center;
}

.nav_left .logo{
  width: 50px;
  margin-right: 10px;
}

.nav_right ul li{
  font-weight: 600;
  padding: 15px 0;
  list-style: none;
  margin: 10px;
  border-bottom: 4px solid transparent;
}

.nav_right ul li:hover, .nav_left span:hover{
  border-bottom: 4px solid #002c77;
  color: #002c77;
}



